<h2> {{ title }} </h2>
<div class="container-row">
    <div>
        <ul class="character pokemon-thunder">
            <li *ngFor="let pokemon of pokemonThunder" [class.selected]="selectedPokemon==pokemon"
                (click)="selectPokemon(pokemon)">
                <span class="badge">{{ pokemon.id }}</span> {{ pokemon.name}}
            </li>
        </ul>
    </div>
    <div>
        <app-pokemon-details *ngIf="selectedPokemon" [pokemon]="selectedPokemon"></app-pokemon-details>
    </div>
</div>