:root {
  --primary-plant-color: hsl(120, 90%, 51%);
  --primary-fire-color : hsl(40, 90%, 51%);
  --primary-thunder-color: hsl(58, 89%, 47%);
}

.character {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.character li {
  cursor: pointer;
  position: relative;
  left: 0;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.character li:hover {
  left: .1em;
}

.character .text {
  position: relative;
  top: -3px;
}

.character .badge {
  display: inline-block;
  font-size: small;
  padding: 0.8em 0.7em 0 0.7em;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
